
<div class="content">
    <div class="">
        <div class="page-header-title">
            <h4 class="page-title">Estudiantes</h4>
        </div>
    </div>
    <br>
    <div class="page-content-wrapper">
        <div class="container">
            <!--Content page-->
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thread>
                            <tr style="color: #0E2EB0">
                                <th>id</th>
                                <th>nombre</th>
                                <th>grado</th>
                                <th>colegio</th>
                            </tr>
                        </thread>
                        <tbody>
                          
                            <tr>
                                <td>{{ estudiante.id }}</td>
                                <td>{{ estudiante.nombre }}</td>
                                <td>{{ estudiante.grado }}</td>
                                <td>{{ estudiante.colegio }}</td>
                            </tr>
                       
                        </tbody>
                    </table>
                    <div style="text-align: center">
                        <button type="button" class="btn btn-primary waves-effect waves-light" onClick="window.location.href='/'">Back</button>
                    </div>